<div>
    <div class="profile">
        <img src="https://www.kindpng.com/picc/m/247-2472302_admin-transparent-background-admin-icon-hd-png-download.png" alt="admin img">
        <h3>Admin</h3>
        <h4>admin@luminar.co.in</h4>
    </div>
    <mat-divider></mat-divider>
    <h2>Pages</h2>
    <div class="pages">
        <a routerLink="">Dashboard</a>
        <a routerLink="employees">Employees</a>
        <a routerLink="gallery">Gallery</a>
    </div>
    <mat-divider></mat-divider>
    <h2>Tools</h2>
    <div class="pages">
        <a routerLink="contact"><mat-icon>contact_phone</mat-icon>  Contact</a>
        <a routerLink="leads"><mat-icon>leaderboard</mat-icon>  Leads</a>
    </div>
</div>