<!-- card -->
<div class="cards">
    <mat-card>
        <app-card
        bg="orange" icon="group" description="Students" count="2000"></app-card>
    </mat-card>
    <mat-card>
        <app-card  bg="red" icon="home" description="Institutions" count="2000"></app-card>
    </mat-card>
    <mat-card>
        <app-card  bg="green" icon="groups" description="Employees" count="1000"></app-card>
    </mat-card>
    <mat-card>
        <app-card  bg="blue" icon="dashboard" description="Placements" count="1500"></app-card>
    </mat-card>


</div>

<!-- area chart -->
<div class="area">
    <app-area-chart></app-area-chart>
</div>

<!-- table and chart -->

<div class="tablepie">
    <!-- table -->
    <div>
        <app-table></app-table>
    </div>
    <!-- pie-chart -->
    <div>
        <app-pie-chart></app-pie-chart>
    </div>
</div>